Repository Pylons/pyramid, pull requests merged in 2018-05, with the labels that each got.

#3275 Removes the step to install additional packages in the quick tutorial.
  docs/quick_tutorial/requirements.rst
Labels: docs, should-backport

#3280 Fix inadvertent 520 error codes
  CHANGES.rst
  pyramid/httpexceptions.py
Labels: should-backport

#3267 Pdf rendering fixes
  docs/conf.py
  docs/typographical-conventions.rst
Labels: docs
